@{
	ViewData["Title"] = "About";
}


<head>
	<link rel="stylesheet" href="~/css/animate.min.css"/>
	<link rel="stylesheet" href="~/css/about.css"/>
	<link  rel="stylesheet" href="~/css/card.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">


</head>

@*
class that will used
 animate__animated wow animate__backInLeft
 animate__animated wow animate__backInRight

*@
<div class="all">
	@*our Story*@
	<section class="our-story">
		<div class="container mt-5">
			<div class="row gx-3 d-flex align-items-center">
				<div class="left col-sm-12 col-md-6 animate__animated wow animate__backInLeft"  >
					<h1>Our <span>Story</span></h1>
					<p class="text-justify ">
						IEEE Zagazig University Student Branch (ZSB) Established in 1999 by a dedicated group of engineering students. Through 25 years IEEE ZSB has the honor of being among the earliest student branches in Egypt. Since its inception, the branch has been steadfast in its commitment to serving not only the students of Zagazig University but also extending its support to students from universities across Egypt. As part of the vast IEEE network, we are one of the 3,000 student branches worldwide operating under the IEEE umbrella.
					</p>
				</div>
				<div class="d-md-none d-lg-block col-lg-1">

				</div>
				<div class="right col-md-6 col-lg-5  d-none d-md-block   animate__animated wow animate__backInRight">
					<img  src="~/Images/about/story.jpg"/>
				</div>
			</div>
		</div>
	</section>

	@*our Mission*@
	<section class="mission">
		<div class="container">
			<div class=" row mt-5">
				@*One *@
				<div class=" col-md-4 col-lg-4 one  d-none d-md-block">
					<img  src="~/Images/about/mission.jpg"/>
				</div>
				@*Container of Two*@
				<div class="two-container col-sm-12 col-md-8 col-lg-8">
					<div class="row">
							@*Two *@
							<div class=" col-sm-6 col-md-6 col-lg-6 two">
								<h2 class="mb-sm-1 mb-md-5">Our <span class="fs-md-3 fs-sm-4 fs-lg-1"> Mission</span></h2>
								<div>
									<div>
										<img src="~/Images/about/mission1.png"/>
										<p>Mission</p>
									</div>
									<p class="text-justify animate__animated wow animate__backInLeft">
										Our mission begins with a deep understanding of the contemporary job market's demands and the skills required from graduates to meet those demands. We then strive to bridge the skills gap by establishing a sustainable program that addresses the ever-expanding divide between graduates' skillsets and the job market's requirements, particularly those skills that the university curriculum may overlook.</p>
								</div>

							</div>
							@*Three*@
							<div class=" col-sm-6 col-md-6 col-lg-6 three">
								<section class="three-one">
									<div>
										<img src="~/Images/about/vision1.png"/>
										<p>Vision</p>
									</div>
									<div>
										<p class="text-justify animate__animated wow animate__backInRight">
										Our vision is to cultivate a generation of students who excel as critical thinkers, proficient leaders, innovators, and experts across diverse fields of science and technology.

										</p>
									</div>
								</section>
								<section  class="three-two">
									<div>
										<img src="~/Images/about/goal1.png"/>
										<p>Goal</p>
									</div>
									<div>
										<p class="text-justify animate__animated wow animate__backInRight">
									Our first and permanent goal is to develop our services and always satisfy clients with the service provided to them
										</p>
									</div>

								</section>
							</div>
						</div>
					</div>
			</div>
		</div>


	</section>

	<section class="about-officer ">
		<div class="managerial">
			<h1>Managerial Commits</h1>
			<ol>
				<li class="animate__animated wow animate__backInLeft">
					<div class="icon"><i class="fa-solid fa-bicycle"></i></div>
					<div class="title">BD</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInLeft">
					<div class="icon"><i class="fa-solid fa-car"></i></div>
					<div class="title">TM</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInRight">
					<div class="icon"><i class="fa-solid fa-helicopter"></i></div>
					<div class="title">EM</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInLeft">
					<div class="icon"><i class="fa-solid fa-plane"></i></div>
					<div class="title">Marketing</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInLeft">
					<div class="icon"><i class="fa-solid fa-rocket"></i></div>
					<div class="title">Multimedia</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInRight">
					<div class="icon"><i class="fa-solid fa-bus"></i></div>
					<div class="title">Ambassador</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
			</ol>
		</div>

		<div class="technicarChapter ">
			<h1>Technical Chapters</h1>
			<ol>
				<li class="animate__animated wow animate__backInLeft">
					<div class="icon"><i class="fa-solid fa-bicycle"></i></div>
					<div class="title">CS</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInLeft">
					<div class="icon"><i class="fa-solid fa-car"></i></div>
					<div class="title">RAS</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
				<li class="animate__animated wow animate__backInRight">
					<div class="icon"><i class="fa-solid fa-helicopter"></i></div>
					<div class="title">PES</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
			
			</ol>

		</div>

		<div class="affinity">
			<h1>Affinity Group</h1>
			<ol>
				<li class="animate__animated wow animate__backInRight">
					<div class="icon"><i class="fa-solid fa-bicycle"></i></div>
					<div class="title">WE</div>
					<div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
				</li>
			
			
			</ol>

		</div>
	</section>


	<script src="~/js/wow.min.js"> </script>
	<script>
			new WOW().init();
		</script>

	@*all elements*@
</div>






