@model Login
@{
	ViewData["Title"] = "Login";
}

<form class="all-login" asp-action="CheckLogin" asp-controller="Auth">
    <div class="container">
          <p class="text-center text-danger">@ViewBag.LoggedError</p>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email"
            asp-for="Email" autocomplete="off">
            <span asp-validation-for = "Email" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" asp-for="Password" placeholder = "Password"
            autocomplete="new-password">
            <span asp-validation-for = "Password" class="text-danger"></span>
          </div>

          <button type="submit" class="btn">Submit</button>
  </div>
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation//dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<style>
    .all-login
    {
        display:flex;
        align-items:center;
        justify-content:center;
        min-height:80vh;
        background-color:#f3f0f0;
    }
    .all-login .container
    {
        width:min(500px, 94vw);
        background-color:#262424;
        padding:30px;
        border-radius:20px;
    }
    .all-login .container label
    {
        color:#eee !important;
    }
    button.btn
    {
        background-color:#636c6c;
        color:#f3ebeb;
    }
    button.btn:hover
    {
        background-color:white;
        transition:.4s;
    }

</style>