
@model Event

@{
    ViewData["Title"] = "Add New User"; 
}
@{
    var Action = Model != null ? "SaveUpdateEvent" : "SaveEvent";
    var txt = Model != null ? "Update Event" : "Add Event";
}

<form class="all-login" asp-action="@Action" enctype="multipart/form-data" asp-controller="Event" asp-route-id="@Model?.Id">
    <div class="container">

        @*Notes*@
        <div class="task-Note">
            <div>
                <p class=" text-center">Make bold  </p>
                <div class="copylink">
                    <i class="fa-solid fa-copy  text-success"></i>    
                </div>
            </div>
            <div>
                <p class="text-center">Make italic   </p>
                <div class="copylink">
                    <i class="fa-solid fa-copy text-success"></i>    
                </div>
            </div>
             
        </div>


        @*Name *@
        <div class="mb-3">
            <label for="name" class="form-label">Event Name</label>
            <input type="text" class="form-control" id="name"  placeholder="Event Name"
            asp-for="Name" >
            <span asp-validation-for = "Name" class="text-danger"></span>
      </div>
      @*Description*@
      <div class="mb-3">
            <label for="description" class="form-label">Event Description</label>
             <textarea class="form-control" placeholder="Event Description" id="description"
             asp-for="Description"></textarea>
            <span asp-validation-for = "Description" class="text-danger"></span>
      </div>

      @*Event Image*@
      <div class="mb-3">
            <label for="EventImage" class="form-label">Event Image</label>
             <input asp-for="formFile" id="EventImage"   accept="image/*" class="form-control"/>

            <span asp-validation-for = "formFile" class="text-danger"></span>
      </div>


       @*FaceBook Link *@
        <div class="mb-3">
            <label for="facebook" class="form-label">Event Facebook Link</label>
            <input type="link" class="form-control" id="facebook"  placeholder="Event Name" asp-for="FaceBookLink" >
            <span asp-validation-for = "FaceBookLink" class="text-danger"></span>
      </div>

      @*LinkedIn Link *@
        <div class="mb-3">
            <label for="linked" class="form-label">Event Linkedin Link</label>
            <input type="link" class="form-control" id="linked"  placeholder="Event Name" asp-for="LinkedInLink" >
            <span asp-validation-for = "LinkedInLink" class="text-danger"></span>
      </div>


      @*Submit*@
      <button type="submit" class="btn">@txt</button>
  </div>
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation//dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<script>
    let btns = document.querySelectorAll(".task-Note div .copylink");
    btns[0].addEventListener("click", () => {
        var textToCopy = "<b>Text Here</b>";
        copyToClipBoard(textToCopy);
  
    })
    btns[1].addEventListener("click", () => {
        var textToCopy = "<i>Text Here</i>";
        copyToClipBoard(textToCopy);
  
    })
    function copyToClipBoard(textToCopy) 
    {
        //create a temp textarea 
         var tempTextArea = document.createElement("textarea");
        tempTextArea.value = textToCopy;
        document.body.appendChild(tempTextArea)
        tempTextArea.select()
        tempTextArea.setSelectionRange(0, 99999); // for phone
        document.execCommand("copy");
        //remove a textarea
         document.body.removeChild(tempTextArea);

    }



</script>


<style>
    .all-login
    {
        padding-top:30px;
        padding-bottom:30px;
        display:flex;
        align-items:center;
        justify-content:center;
        min-height:80vh;
        background-color:#f3f0f0;
    }
    .all-login .container
    {
        width:min(500px, 94vw);
        background-color:#262424;
        padding:30px;
        border-radius:20px;
    }

    .task-Note
    {
       
        color:#6c757d;
    }
    .task-Note > div
    {
         display: flex;
        justify-content: space-around;
        width: min(400px, 94%);
        margin: auto;
    }
    .task-Note p
    {
        margin:0px;
    }
    .task-Note svg {
        cursor:pointer;
    }

    .all-login .container label
    {
        color:#eee !important;
    }
    button.btn
    {
        background-color:#636c6c;
        color:#f3ebeb;
    }
    button.btn:hover
    {
        background-color:white;
        transition:.4s;
    }

</style>